/* Esercizio 1 */
.ex-1-square {
  transition: 2s;
}

.ex-1-square:hover {
  background-color: red;
}

/* Esercizio 2 */
.ex-2-square {
  transition: 2s;
}

.ex-2-square:active {
  width: 100%;
}

/* Esercizio 3 */
.ex-3-square {
  transition: 0.5s;
}

.ex-3-square:hover {
  border-radius: 50%;
}

/* Esercizio 4 */
.ex-4-square {
  transition: 1s;
}

.ex-4-square:hover {
  opacity: 0;
}

/* Esercizio 5 */
.ex-5-square {
  transition: 1s;
}

.ex-5-square:hover {
  transform: scale(2);
}

.ex-5-square:active {
  transform: scale(0.5);
}

/* Esercizio 6 */
.ex-6-img:hover {
  filter: grayscale(1);
}

/* Esercizio 7 */
.ex-7-img {
  transition: 2s;
}

.ex-7-img:hover {
  filter: grayscale(0.5);
  filter: sepia(50%);
}

/* Esercizio 8 */
.ex-8-img {
  transition: 2s;
}

.ex-8-img:hover {
  filter: brightness(150%);
  filter: grayscale(0.6);
  border-radius: 20px;
}

/* Esercizio 9 */
.ex-9-img {
  transition: 2s;
}

.ex-9-img:hover {
  filter: brightness(150%);
  filter: grayscale(0.6);
  border-radius: 20px;
  transform: scale(1.5);
}

/* Esercizio 10 */
.ex-10-icon {
  animation: loop 1s linear infinite;
}

@keyframes loop {
  to {
    transform: rotate(-360deg);
  }
}

/* Esercizio 11 */
.ex-11-icon:hover {
  animation: looped 2s linear;
}

@keyframes looped {
  0% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(300deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* Esercizio 12 */
.ex-12-button:hover .ex-12-top-white {
  animation: btn1 2s linear;
}

@keyframes btn1 {
  0% {
    left: 20px;
  }

  50% {
    left: calc(100% - 60px);
  }

  100% {
    left: 20px;
  }
}

.ex-12-button:hover .ex-12-bottom-white {
  animation: btn2 2s linear;
}

@keyframes btn2 {
  0% {
    right: 40px;
  }

  50% {
    right: calc(100% - 60px);
  }

  100% {
    right: 40px;
  }
}

/* Esercizio 13 */
.ex-13-button:hover .ex-13-top-white {
  animation: btn13a 2s linear;
}

@keyframes btn13a {
  0% {
    left: 20px;
    top: -10px;
  }

  25% {
    left: 170px;
    top: -10px;
  }

  50% {
    left: 170px;
    top: 55px;
  }

  75% {
    left: 0px;
    top: 55px;
  }

  90% {
    left: -20px;
    top: -10px;
  }

  100% {
    left: 20px;
    top: -10px;
  }
}

.ex-13-button:hover .ex-13-bottom-white {
  animation: btn13b 2s linear;
}

@keyframes btn13b {
  0% {
    bottom: -10px;
    right: 40px;
  }

  25% {
    bottom: -10px;
    right: 170px;
  }

  50% {
    bottom: 55px;
    right: 170px;
  }

  75% {
    bottom: 55px;
    right: 0px;
  }

  90% {
    bottom: -10px;
    right: -20px;
  }

  100% {
    bottom: -10px;
    right: 40px;
  }
}