/* Esercizio 1 */
.ex-1-square {
  transition: 2s;
}

.ex-1-square:hover {
  background-color: red;
}

/* Esercizio 2 */
.ex-2-square {
  transition: 2s;
}

.ex-2-square:active {
  width: 100%;
}

/* Esercizio 3 */
.ex-3-square {
  transition: 0.5s;
}

.ex-3-square:hover {
  border-radius: 50%;
}

/* Esercizio 4 */
.ex-4-square {
  transition: 1s;
}

.ex-4-square:hover {
  opacity: 0;
}

/* Esercizio 5 */
.ex-5-square {
  transition: 1s;
}

.ex-5-square:hover {
  transform: scale(2);
}

.ex-5-square:active {
  transform: scale(0.5);
}

/* Esercizio 6 */
.ex-6-img:hover {
  filter: grayscale(1);
}

/* Esercizio 7 */
.ex-7-img {
  transition: 2s;
}

.ex-7-img:hover {
  filter: grayscale(0.5);
  filter: sepia(50%);
}

/* Esercizio 8 */
.ex-8-img {
  transition: 2s;
}

.ex-8-img:hover {
  filter: brightness(150%);
  filter: grayscale(0.6);
  border-radius: 20px;
}

/* Esercizio 9 */
.ex-9-img {
  transition: 2s;
}

.ex-9-img:hover {
  filter: brightness(150%);
  filter: grayscale(0.6);
  border-radius: 20px;
  transform: scale(1.5);
}

/* Esercizio 10 */
.ex-10-icon {
  animation: loop 1s linear infinite;
}

@keyframes loop {
  to {
    transform: rotate(-360deg);
  }
}